.header {
  display: flex;
  /* padding: 1rem; */
  flex: 1;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: aquamarine;
  box-shadow: 0 2px 0 rgba(226, 0, 0, 0.4);
  z-index: 10;
}

/* .nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #be3144;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 10;
  } */

.navlist {
  display: flex;
  margin-right: 2rem;
}

@media (max-width: 28.75em) {
  .nav {
    justify-content: center;
  }

  .navlist {
    margin: 0 1rem;
  }
}

.nav ul {
  list-style: none;
}

.navlist a {
  display: block;
  font-size: 1.5rem;
  padding: 1rem;
  text-shadow: 2px 2px 1px #ae1a1a;
  transition: transform 0.3s ease-out;
}
.navlist a:hover {
  background-color: #761dcee7;
  transform: translateY(8px);
  border-radius: 5px;
  color: rgba(14, 108, 232, 0.75);
}

/* Set font size for easy rem calculations
* default document font size = 16px, 1rem = 16px, 100% = 16px
* (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
*/
/* 1200px / 16px = 75em */
/* 980px / 16px = 61.25em */
/* 460px / 16px = 28.75em */
/* 
  Breakpoint prefix	Minimum width	CSS
sm	640px	@media (min-width: 640px) { ... }
md	768px	@media (min-width: 768px) { ... }
lg	1024px	@media (min-width: 1024px) { ... }
xl	1280px	@media (min-width: 1280px) { ... }
2xl	1536px	@media (min-width: 1536px) { ... }
*/
