.header {
  display: flex;
  /* padding: 1rem; */
  flex: 1;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: aquamarine;
  box-shadow: 0 2px 0 rgba(226, 0, 0, 0.4);
  z-index: 10;
}

/* .nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #be3144;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 10;
  } */

.navlist {
  display: flex;
  margin-right: 2rem;
}

@media (max-width: 28.75em) {
  .nav {
    justify-content: center;
  }

  .navlist {
    margin: 0 1rem;
  }
}

.nav ul {
  list-style: none;
}

.navlist a {
  display: block;
  font-size: 2.2rem;
  padding: 2rem;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 0.3s ease-out;
}
.navlist a:hover {
  background-color: #45567d;
  transform: translateY(8px);
  border-radius: 5px;
}
