.footer {
  display: flex;
  flex: 1;
  padding: 2rem 1rem;
  border-top: 3px solid #f23434;
  justify-content: space-between;
  align-items: center;
  /* position: fixed; */
  bottom: 0;
  left: 0;
  width: 100%;
  background: aquamarine;

  z-index: 10;
  @media screen and (min-width: 768px) {
    /* flex-direction: column; */
  }
}
